<!-- Review Section Start -->
<section class="review" id="review">
    <div class="main-txt">
      <h3>Customer's <span>Review</span></h3>
    </div>

    <div class="review-content">
      <div class="box">
        <div class="img">
          <img src="../assets/images/pic-1.png" alt="" />
        </div>
        <h3>Anuraya</h3>
        <div class="star">
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
        </div>
        <p>
          Discovered this beautiful Ikat-inspired sofaat Furlenco and had to bring it home!
          Paired it with beautiful Japanese-inspired coffee table too!
        </p>
      </div>
      <div class="box">
        <div class="img">
          <img src="../assets/images/pic-2.png" alt="" />
        </div>
        <h3>Manolina</h3>
        <div class="star">
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
        </div>
        <p>
          As our living rooms not big enough or multiple furniture pieces,
          I need functionality with style, and money! Furlenco's sofa was a perfect fit! 
        </p>
      </div>
      <div class="box">
        <div class="img">
          <img src="../assets/images/pic-3.png" alt="" />
        </div>
        <h3>Rudythulung</h3>
        <div class="star">
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
          <i class="fa-solid fa-star checked"></i>
        </div>
        <p>
          Affordable yet classy!
          I love minimalist look with classic colours and designs on this chest 
          of drawers. Coudldn't be happier!
        </p>
      </div>
    </div>
  </section>
  <!-- Review Section End -->

  <!-- Footer Start -->
  <footer id="footer">
    <div class="footer-content">
      <div class="logo">
        <img src="../assets/images/logo.png" alt="" />
      </div>
      <p>
        Furniture has steadfastly been the hidden hero of the house and therefore, to buy furniture is to truly invest.
        <br />We don’t fully realise the difference between an ‘unfurnished’ home and a ‘furnished’ one until we step into one and figure out how important it is to buy furniture the right way. 
      </p>
      <div class="socail-links">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-pinterest-p"></i>
      </div>
    </div>
    <hr />
    <div class="footer-bottom-content">
      <p>Designed By <a href="#">Aniket Sahu</a></p>
      <div class="copyright">
        <p>&copy;Copyright <strong>Aniket Sahu</strong>.All Rights Reserved</p>
      </div>
    </div>
  </footer>
  
  <!-- Footer End -->
  <a href="#" class="arrow"
    ><i><img src="../assets/images/up-arrow.png" alt="" width="50px" /></i
  ></a>

