
    <!-- Sale Products Start -->
    <section class="product" id="products" style="margin-top: 50px">
        <div class="main-txt">
          <h3>50% off products</h3>
        </div>
        <div class="card-content">
          <div class="row">
            <img src="../assets/images/p9.png" alt="" />
            <div class="card-body">
              <h3>Sofa Sets</h3>
              <p>Flex Fabric 3 Seater Sofa Set</p>
              <h5>Price ₹19000</h5>
              <button>Order Now</button>
            </div>
          </div>
          <div class="row">
            <img src="../assets/images/p10.png" alt="" />
            <div class="card-body">
              <h3>Wood Shoe Rack</h3>
              <p>Fusil engineered Wood Shoe Rack</p>
              <h5>Price ₹15000</h5>
              <button>Order Now</button>
            </div>
          </div>
          <div class="row">
            <img src="../assets/images/p11.png" alt="" />
            <div class="card-body">
              <h3>Round Sofa</h3>
              <p>Single Ottoman in Brown</p>
              <h5>Price ₹7000</h5>
              <button>Order Now</button>
            </div>
          </div>
          <div class="row">
            <img src="../assets/images/p12.png" alt="" />
            <div class="card-body">
              <h3>Accent Chair</h3>
              <p>Comfortable chairs with fusil fabric</p>
              <h5>Price ₹8000</h5>
              <button>Order Now</button>
            </div>
          </div>
        </div>
      </section>
      <!-- Sale Products End -->
  
      <!-- Our Gallary Start -->
      <div class="gallary">
        <h3>Our Gallery</h3>
        <div class="gallary-img">
          <div class="img1">
            <img src="../assets/images/g1.png" alt="" />
          </div>
          <div class="img1">
            <img src="../assets/images/g2.png" alt="" />
            <img src="../assets/images/g3.png" alt="" />
          </div>
        </div>
      </div>
      <!-- Our Gallary End -->
  