<!-- Home Section Start -->
<div class="home">
  <div class="main-text">
    <h1>Discover The Best <br />Furniture For You</h1>
    <p>Own Brand New or Refurbished furniture for your homes</p>
    <p>Choose from over 2000 Products</p>
    <button id="btn" routerLink="Products" href="#products">View More</button>
  </div>
</div>
<!-- Home Section End -->

<!-- Top Section Card Start -->
<section class="offers">
  <div class="offer-content">
    <div class="row">
      <i class="fa-solid fa-truck-fast"></i>
      <h3>Free Delivery</h3>
      <p>Delivery is free for all</p>
    </div>
    <div class="row">
      <i class="fa-solid fa-headset"></i>
      <h3>Support 24/7</h3>
      <p>Call Availability 24*7</p>
    </div>
    <div class="row">
      <i class="fa-solid fa-rotate-left"></i>
      <h3>30 Day Return</h3>
      <p>Return in 30 day's without any charges</p>
    </div>
    <div class="row">
      <i class="fa-solid fa-cart-shopping"></i>
      <h3>Secure Shopping</h3>
      <p>No fear of data leak or loss</p>
    </div>
  </div>
</section>
<!-- Top Section Card End -->

<!-- About Section Start -->
<!-- About Section Start -->
<section class="about" id="about">
  <div class="about-img">
    <img src="../assets/images/about-img.png" alt="" />
  </div>
  <div class="about-text">
    <h3>The Founding Story</h3>
    <p>
      In 2011, Ajith, our founder, moved to Bengaluru from New Jersey, USA. And
      when he tried to sell his furniture in less than two years after buying
      it, he got only 10% of the original value. That is when he realised the
      pains of owning furniture, especially for a generation that is always on
      the move, looking to seize the next big opportunity. And thus, Furlenco
      was born - To give everyone access to awesome furniture without any
      hassles. Plus, the complete freedom to use it for as long as they want or
      change it as per their needs.
    </p>

    <button id="about-btn">Read More...</button>
  </div>
  <!-- <script>
        document.getElementById('about-btn').addEventListener('click', function() {
          this.router.navigateByUrl('https://chat.openai.com/c/4d60a69f-3254-4e6b-8a90-4837dae9aac6'); // Change this to the URL you want to redirect to
        });
      </script> -->
</section>
<!-- About Section End -->
<!-- <app-home></app-home> -->
<app-product-list></app-product-list>
<app-cart></app-cart>
<app-sales></app-sales>
<app-add-product></app-add-product>
<app-footer></app-footer>
